body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Nueu",Helvetica,Arial,sans-serif;
}

